*.py[cod]
__pycache__
.python-version
*.db
*.log
local_cache
venv
.env
*.swp
.DS_Store
*downloads
*.csv
*.zip
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Ignore all .md files except README.md
*.md
!README.md
